mixin homenav
  .home-navigation.animated.fadeIn
    .nav-wrapper 
      .home-nav-logo
      ul.home-nav 
        li 
          a(href="../") Home
        li 
          a(href="../blog") Blog
        li 
          a(href="../portfolio") Portfolio
        li 
          a(href="../contact") Contact
