mixin homenav
  .home-navigation
    .nav-wrapper 
      .home-nav-logo
      ul.home-nav 
        li 
          a(href="#") Home
        li 
          a(href="#") Blog
        li 
          a(href="#") Portfolio
        li 
          a(href="#") Contact
