mixin nav
  .navigation
    .nav-wrapper 
      .nav-logo
      ul.nav 
        li 
          a(href="../../") Home
        li 
          a(href="../../blog") Blog
        li 
          a(href="../../portfolio") Portfolio
        li 
          a(href="../../contact") Contact
