doctype html
html
  head
    link(rel='stylesheet', href='../stylesheets/styles.css', type='text/css')
    <meta name="viewport" content="width=device-width", initial-scale="1"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  body
    .desktop-nav
      .nav-wrapper
        a.nav-logo(href="../")
        ul
          li
            a(href="../") Home
          li
            a(href="../blog") Blog
          li
            a(href="../about") About Us
          li
            a(href="../pricing") Pricing

    .mobile-nav
      .nav-logo
      #menu-btn.menu-btn
        div
        span
        span
        span
      .responsive-menu
        ul.animated-fast.fadeIn
          li
            a(href="../index.html") Home
          li
            a(href="../blog") Blog
          li
            a(href="../about") About Us
          li
            a(href="../pricing") Pricing

    .blog
      .container
        h4 Blog
        .posts
          .post.post-one.animated.fadeIn
            .header
              .avatar.rance
              h5 Nathan Rance
            .post-img.post1
            .post-body
              .post-text
                h3 5 BENEFITS OF EATING GOOD FATS
                p Don't be fooled by confectionary companies stating that their foods are 99% FAT FREE, this can mislead us into thinking that fats are considered "unhealthy". It's important to know what type of fats can benefit us and why....
              .read-more
                a(class="btn-reg" href="/5-benefits-of-eating-good-fats") Read more

          .post.post-two.animated.fadeIn
            .header
              .avatar.mitch
              h5 Mitch Moore
            .post-img.post2
            .post-body
              .post-text
                h3 5 BENEFITS AS TO WHY YOU SHOULD SQUAT
                h6 1. Increase Entire Body Strength & Muscle
                p Obviously, squats build strong legs which help support the entire body. But they also promote body wide muscle building...
              .read-more
                a(class="btn-reg" href="/5-benefits-as-to-why-you-should-squat") Read more


          .post.post-three.animated.fadeIn
            .header
              .avatar.rance
              h5 Nathan Rance
            .post-img.post3
            .post-body
              .post-text
                h3 5 BENEFITS OF PROPER NUTRITION
                p Eating a proper, nutritious diet offers numerous health benefits that keep you mentally and physically well.
                p Proper nutrition involves eating a diet balanced in lean proteins, carbs and fats.
              .read-more
                a(class="btn-reg" href="/5-benefits-of-proper-nutrition") Read more

  .footer
    .footer-wrapper
      .copyright
        p &#169; Active Habits 2017
      ul.social-links
       li <a href="https://www.facebook.com/activehabits/" class="facebook"></a>
       li <a href="https://www.instagram.com/activehabits_" class="instagram"></a>
       li <a href="tel:0411538188" class="contact-no">0411 538 188</a>
       li <a href="tel:0400668622" class="contact-no">0400 668 622</a>

      script(type='text/javascript').
        jQuery(function($){
        $( '.menu-btn' ).click(function(){
        $('.responsive-menu').toggleClass('expand')
        })
        })
