.blog
  display block
  background-color #f5f9fb
  width 100%;
  .container
    h4
      text-align center
      margin-top 150px
    .posts
      margin-top 50px
      .post
        width 900px
        background-color #fff
        margin 0 auto
        overflow hidden
        margin-bottom 50px
        box-shadow: 0 1px 2px 0 rgba(171,171,171,0.50);
        border-radius: 8px;
        .header
          display block
          width 100%
          .avatar
            float left
            margin-left 40px
          h5
            float left
            margin-top 38px
            margin-left 14px
            font-size: 12px;
            color: #3A3D3E;
        .post-img
          width 90%
          height 240px
          background-color #B2BFC3
          margin: 0 auto
          margin-top 100px
          border-radius 4px
          background-size cover
        .post-body
          .post-text
            width: 66%;
            float left
            display inline
            margin-left 40px
            margin-top 40px
            padding-bottom 50px
            h3
              font-size: 22px;
              color: #3A3D3E;
              margin-bottom 20px
            p
              font-size: 14px;
              color: #7F878A;
          .read-more
            margin-top 100px
            float left
            margin-left 40px

.post1
  background-image url('../images/post-1.jpg')
.post2
  background-image url('../images/post-2.jpg')
.post3
  background-image url('../images/post-3.jpg')
.rance
  background-image url('../images/rance.jpg')
  background-size cover
.mitch
  background-image url('../images/mitch.jpg')
  background-size cover



.blog-post
  display block
  background-color #fff
  width 100%;
  padding-bottom 100px
  .post
    width 900px
    margin 0 auto
    margin-bottom 50px
    .header
      display block
      width 100%
      height: 1px;
      margin-top: 110px;
      .avatar
        float left
        margin-left 40px
      h5
        float left
        margin-top 38px
        margin-left 14px
        font-size: 12px;
        color: #3A3D3E;
    .post-img-hero
      width 90%
      height 320px
      margin: 0 auto
      margin-top 100px
      background-size cover

    .blog-post-body
      width 85%
      margin 0 auto
      margin-top 100px
      h3
        font-size 32px
        margin-bottom 20px
      p
        font-size 20px
      ol
        margin 40px
        li
          margin 21px 0px

.next-button
  padding-top 30px
  margin 0 auto
  width 200px


@media only screen and (max-width: 1023px)
  .blog
    .container
      width 100%
      .posts
        .post
          width 90%;
          .header
            .avatar
              margin-left 21px
          .post-body
            .post-text
              width 80%;
              margin 0 auto
              float initial
              display block
              margin-top 20px
            .read-more
              float initial
              display block
              width 175px;
              margin 0 auto
              margin-top 20px
              padding-bottom 40px
  .blog-post
    width 100%
    .post
      width 100%
