.hero
  width 100%
  height 870px
  overflow hidden
  background-size cover
  background-image: linear-gradient(44deg, #2E7FC9 0%, #2CCED7 100%);
  box-shadow: 0 1px 4px 0 #CEDBDB;





/*@media only screen and (max-width: 1023px)


@media only screen and (max-width: 767px)*/
