.hero
  width 100%
  height 870px
  overflow hidden
  background-size cover
  background-image: linear-gradient(44deg, #2E7FC9 0%, #2CCED7 100%);
  box-shadow: 0 1px 4px 0 #CEDBDB;

  .header-wrapper
    width 1024px
    margin 0 auto
    .intro
      margin-top 225px
      width 600px
      h1, h5, p
        color #fff
        float left
        display block
        width 100%
        text-align left
      p
        margin-top 30px
        padding-bottom 40px
      .buttons
        margin-top 50px
        a
          background: #FFFFFF;
          border-radius: 100px;
          padding 15px 40px
        a.hello
          text-decoration none
          margin-right 14px
        a.portfolio
          background none
          border 1px solid #fff
          text-decoration none
          color #fff

    .intro-illus
      background-image url('../images/header-illus-placeholder.svg')
      height 301px
      width 301px
      float right
      margin-left 110px
      margin-top -250px

.why-design
  width 100%
  background-color #fff
  box-shadow: 0 1px 4px 0 rgba(202,215,220,0.50);
  h2
    padding-top 300px
    text-align center
    margin-bottom 70px
  .why-wrapper
    width 814px
    margin 0 auto
    padding-bottom 450px
    .why-illus
      background-image url('../images/why-illus-placeholder.svg')
      height 211px
      width 211px
      float left
    .why-text
      width 550px
      float left
      margin-top 50px
      margin-left 50px
      p
        color #7F878A


.design-process
  width 100%
  background-color #F5F9FB
  box-shadow: 0 1px 4px 0 rgba(202,215,220,0.50);
  h2
    padding-top 300px
    text-align center
    margin-bottom 70px
  .design-wrapper
    width 814px
    margin 0 auto
    padding-bottom 350px
    .box
      margin 0 auto
      margin-bottom 14px
      background-color #fff
      box-shadow 0 1px 4px 0 rgba(202,215,220,0.5)
      border-radius 4px
      padding 30px 210px
      width 153px
      text-align center



.my-work
  width 100%
  background-color #fff
  box-shadow: 0 1px 4px 0 rgba(202,215,220,0.50);
  h2
    padding-top 300px
    text-align center
    margin-bottom 70px
  .work-wrapper
    width 814px
    margin 0 auto
    padding-bottom 450px
    overflow hidden
    ul
      width 607px
      margin 0 auto
      li.item
        width 200px
        height 200px
        background-color grey
        float left
        margin-left 2px
        list-style-type none
      li.adventure-squad
        background-color #138F96
        .as-item-logo
          background-image url('../images/home-adventure-squad.svg')
          height 51px
          width 52px
          margin: 0 auto;
          margin-top: 80px;
      li.airtasker
        background-color #008FB4
        .air-item-logo
          background-image url('../images/home-airtasker.svg')
          height 22px
          width 135px
          margin: 0 auto;
          margin-top: 95px;
      li.ahoy
        background-color #081536
        .ahoy-item-logo
          background-image url('../images/home-ahoy.svg')
          height 31px
          width 119px
          margin: 0 auto;
          margin-top: 90px;
    .view-more-button
      margin-top: 250px;
      text-align center
      a
        text-decoration none
        padding 14px 30px
        border 1px solid #CAD7DC
        border-radius 40px
        font-family: FilsonSoftRegular;
        font-size: 14px;
        color: #008FB4;
        letter-spacing: 0;






/*@media only screen and (max-width: 1023px)


@media only screen and (max-width: 767px)*/
