.portfolio
  background-color #f3f5f6
  .portfolio-wrapper
    width 1102px
    margin 0 auto
    overflow hidden
    h2
      margin-top 100px
      margin-bottom 50px
      text-align center
    ul
      margin-bottom 2000px
      li
        float left
        text-align center
        list-style-type none
        width 550px
        height 550px
        overflow hidden
        a
          text-decoration none
          display:inline-block;
          padding: 300px;
          margin-top: -568px;
          float: left;
          overflow: hidden
        a:hover
          background-color rgba(255,255,255,0.15)

      li.adventure-squad
        background-color #138F96
        animation-delay 0.05s
        .as-portfolio-logo
          background-image url('../images/as-portfolio-logo.svg')
          width 261px
          height 122px
          margin 0 auto
          margin-top 210px
        .as-portfolio-bg
          background-image url('../images/as-portfolio-bg.svg')
          width 311px
          height 326px
          float right
          margin-top: -90px;
          margin-right: -10px;
      li.ahoy
        background-color #081536
        animation-delay 0.15s
        .ahoy-portfolio-logo
          background-image url('../images/ahoy-portfolio-logo.svg')
          width 170px
          height 44px
          margin 0 auto
          margin-top 260px
        .ahoy-portfolio-bg
          background-image url('../images/ahoy-portfolio-bg.svg')
          width 254px
          height 326px
          float right
          margin-top: -75px;
          margin-right: -10px;
      li.airtasker
        background-color #008FB4
        animation-delay 0.25s
        .airtasker-portfolio-logo
          background-image url('../images/airtasker-portfolio-logo.svg')
          width 208px
          height 34px
          margin 0 auto
          margin-top 210px
        .airtasker-portfolio-bg
          background-image url('../images/airtasker-portfolio-bg.svg')
          width: 297px;
          height: 290px;
          float: right;
          margin-top: 17px;
          margin-right: -10px;
      li.fantasy-betting
        background-color #8C14A3
        animation-delay 0.35s
        .fb-portfolio-logo
          background-image url('../images/fb-portfolio-logo.svg')
          width 212px
          height 139px
          margin 0 auto
          margin-top 210px
        .fb-portfolio-bg
          background-image url('../images/fb-portfolio-bg.svg')
          width: 288px;
          height: 331px;
          float: right;
          margin-top: -130px;
          margin-right: -10px;
      li.active-habits
        background-color #1682BD
        animation-delay 0.45s
        .ah-portfolio-logo
          background-image url('../images/ah-portfolio-logo.svg')
          width 216px
          height 70px
          margin 0 auto
          margin-top 210px
        .ah-portfolio-bg
          background-image url('../images/ah-portfolio-bg.svg')
          width: 346px;
          height: 173px;
          float: right;
          margin-top: 96px;
          margin-right: -10px;
      li.helloworld
        background-color #00B3D2
        animation-delay 0.55s

.case-study
  background-color #f3f5f6
  width 100%
  overflow hidden
  .case-study-logo
    margin 0 auto
  .as-cs
    background-image url('../images/adventure-squad-cs.svg')
    height 122px
    width 261px
    margin-top 100px
    margin-bottom 50px
  .case-study-wrapper
    width 1024px
    height: 2000px
    margin 0 auto
    background: #FFFFFF;
    box-shadow: 0 0 4px 0 #CAD7DC;
    border-radius: 4px;
    overflow hidden
    .overview
      padding 53px
      height 260px
      margin-top 50px
      .text
        width 600px
        float: left;
      .tools
        float left
        margin-left 100px
        .tools-heading
          font-family: FilsonProBold;
          font-size: 12px;
          color: #7F878A;
          letter-spacing: 1px;
          text-transform uppercase
        ul
          li
            font-family: FilsonProBold;
            font-size: 12px;
            color: #7F878A;
            letter-spacing: 1px;
            list-style-type none
            line-height 2.2em

.wireframes
  background-color #f3f5f6
  width: 100%;
  height: 500px;
  padding 40px
  padding-top 130px
  h2
    padding-bottom 40px
  .wireframe
    background-color #CAD7DC
    height 334px
    width 188px
    float left
    margin-left 40px
    border-radius 8px
