doctype html
html
  include ../../mixins/nav.pug
  include ../../mixins/footer.pug
  head
    link(rel='stylesheet', href='../stylesheets/styles.css', type='text/css')
    <meta name="viewport" content="width=device-width", initial-scale="1"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <title>Jonnie Farrell | Blog</title>

  body
    +nav
    .post.animated.fadeIn
      .post-wrapper
        h2 Lessons from a startup designer
        .one
          .post-image
          .post-body
            h4 It's been three life defining years of growth, of struggle, of success and of coming in to our own, but today is my last day at Airtasker.
            p I'm no more a fan of these extravagantly long, drawn-out posts that designers write when they exit a company than you are, however there are a few lessons I would like to share about the experience of being a solo designer at a startup with enormous growth, followed by not being a designer at all within the same startup. This is my love letter to a company that gave me infinitely more than I could have ever asked.
            
            h4 Lesson #1: Nothing is more valuable than the people you're doing it with.
            p I was employee number 8 at Airtasker. A fired up 21 year old designer ready to take on the world. The most beautiful thing about working in any startup is the ease at which communication happens in the early days. Sitting next to your CEO, or alongside a developer really helped us to ship feature after feature when we were small - but it also did something else. It created friendships. Friendships that will last for a very long time in to the future. The memories i'll remember most are the times that we spent away at a workshop, or the late nights with passionate people - because after all is said and done - the one thing we all wanted more than anything, was to make a product that improved people's lives.
            
            h4 Lesson #2: Compromise, Compromise, Compromise
            p Sticking to your guns can be important as a designer. Not everything we birth into the world is the result of looking at historical data, because we spend our days building for the future - however especially as a solo designer, you will be put in situations where you have to make a call between perfection & something that will help achieve a goal for your customer. The truth that i've learned over time - is that you can always fix mistakes later, so get your feature in to your customers hands early and solve their problems.
            
            p For me - that meant compromising on aesthetics or animation in favour of good, strong, functional design. There's an incredible amount of value in visual design and it should never be disregarded - but in a situation where you need to learn about product/market fit, sometimes you need to ignore your gut instinct to polish and just put something out there.
            
            h4 Lesson #3: The team will never be the same as it was when you were small
            p If you've worked in a startup with less than 20 employees, you know all too well how great the environment can be. Communication is easy and a small sample of ideas helps to get things built and learn from them. However, over time when a startup experiences growth, it's faced with it's toughest ever challenge - culture. Culture is one of the most difficult things to maintain, because as a leader in an organisation - your ability to control it is limited.
            
            p The lesson that i've learned recently is you must influence the culture, but you cannot control it. You could fire every single one of your employees in a bid to remove bad culture, but once you hire people to fill those positions, you will be faced with the same problems. The reason I believe is because culture is systemic, and in order to improve it a company is required to define values for the people inside of it, to aspire to. It's been an amazing opportunity to watch Airtasker go through those growing pains, and it's super inspiring to see it handle the issues growth brings with a direct approach to change. Not controlling, influencing.
            
            h4 Lesson #4: Control of the discipline you work in must be earned, but also taken.
            p My first task at Airtasker was to convince Jonathan Lui - a man who became a friend & mentor - that photoshop wasn't the right choice for the work we were doing. We switched to sketch after a robust conversation and have never looked back. While that may be a trivial example - it is exemplary of the trust put into the people that were there to do the journey.
  
            p I've had many healthy arguments with my colleagues over the years around the direction we need to take on certain features. The nature of these discussions were never personal - they always began and ended with the customer in mind. I have come to believe that this is a signal of healthy startup - as while every idea is valued, it is also debated on its merits so that any work we do actually serves to enrich our customers lives. Not every decision will be right by any means, but accepting an idea based on title or position is never the right approach.

            p As designers, we are in the unique position to make a lot of decisions while also being the representative for our customers. In my case, it was the respect of my founders that had to be earned in order to make those decisions, but it was earned in many ways by also proactively taking it. With many decisions being made every day - there are times when you need to make a call and be prepared for it to fail. Occasionally - something clicks, and everything falls into place. That won't always be the case, but it's better than sitting on your hands and failing to move at all. If you never try anything - you'll never go anywhere.
            
            h4 Lesson #5: Get uncomfortable
            blockquote 'I want to struggle, I want to fight. Would it even be worth it if I didn't?'  
            p I've had this thought many, many times during my time at Airtasker. It is definitely a tough journey, filled with a lot of failure - however when it works - it's incredibly satisfying. I'd trade a single moment of success for all of the hours put into the ideas, features & designs that failed. There is nothing like knowing that the work your product does is enriching the lives of your customers. It's an interesting mix of embracing the challenge as well as having the drive to improve a customers life that keeps early startup employees engaged. I loved that combination more than anything else.
  
            p Lastly - I've found that it's largely very true that nobody really knows what they're doing - when you really break it down, the one thing that matters is the way we interact with one another and that we're learning along the way. It's been real Airtasker. Love you forever
    
    +footer
