doctype html
html
  head
    link(rel='stylesheet', href='../stylesheets/styles.css', type='text/css')
    <meta name="viewport" content="width=device-width", initial-scale="1"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  body
    .desktop-nav
      .nav-wrapper
        a.nav-logo(href="../")
        ul
          li
            a(href="../") Home
          li
            a(href="../blog") Blog
          li
            a(href="../about") About Us
          li
            a(href="../pricing") Pricing

    .mobile-nav
      .nav-logo
      #menu-btn.menu-btn
        div
        span
        span
        span
      .responsive-menu
        ul.animated-fast.fadeIn
          li
            a(href="../index.html") Home
          li
            a(href="../blog") Blog
          li
            a(href="../about") About Us
          li
            a(href="../pricing") Pricing

    .hero.animated.fadeIn

    .about-us.animated.fadeIn
      .container
        h4 About Us
        .grid-4
          .icon.icon-one
          .text
            h5 Achieve Your Personal Fitness Goals
            p Improve your health, fitness and physical performance with Active Habits. Learn more about your body and push your limits to see what you're capable of doing. With our small group classes we are able to provide a more individual approach to group style strength and conditioning training. Active Habits is here to help you achieve all your personal fitness goals.
        .grid-4
          .icon.icon-two
          .text
            h5 Expert Training & Nutrition System
            p We specifically design customised nutrition plans tailored to your needs and body type. Our expert staff continually evaluate your performance and adjust your personalised nutrition program to break past any plateaus. Our training philosophy consist of strength and conditioning work which is proven to be the most beneficial to lose weight, tone up and build muscle!
        .grid-4
          .icon.icon-three
          .text
            h5 Mindset & Knowledge
            p We are firm believers in that the way that you think, determines the results you'll achieve. We open your mind up to ensure that you can achieve whatever body you desire. We help you develop a mindset that will benefit you not only at training, but in everyday life. At Active Habits we continually educate our clients on all aspects related to training and nutrition.
        .btn-wrap
          a(class="btn-reg" href="/about") Learn More
    .testimonials.animated.fadeIn
      .container
        h4 Testimonials
        .grid-6
          .avatar.patricia-c
          .text
            h5 Patricia Capuno
            p I've had the pleasure of training with Mitch & Nathan for a few months and have gained confidence in myself and my training. Their passion for helping others break down barriers and achieving their goals is very obvious in their coaching technique. They are both very knowledgeable and explain how and why - they know what they're talking about! They're relaxed yet firm approach to exercising makes the burn feel less painful and dare I say, almost enjoyable!

        .grid-6
          .avatar.pratik-v
          .text
            h5 Pratik Venkatesh
            p Nathan & Mitch are the best PT's I've had. They're motivating, friendly, flexible with times and take a genuine interest in ensuring I hit my goals. They make going to the gym fun and has made me more motivated to hit my goals!


        .grid-6
          .avatar.deb-p
          .text
            h5 Deborah Price
            p Nathan Rance has been my personal trainer for the past 2 years. Nathan is an excellent personal trainer, he is very motivated and structures the PT lesson to your own strength and weakness. Nathan is very encouraging and pushes you to achieve your ultimate fitness level. Nathan is always punctual and organised in his class planning. Nathan helps build his  clients confidence and to believe in themselves. Nathan has a great demeanour and cares for this clients health and well being. I would highly recommended Nathan as a personal trainer.

        .grid-6
          .avatar.godfrey-q
          .text
            h5 Godfrey Quijano
            p Nathan is very professional, friendly and one of the most effective fitness trainers i know. He has mastered the technique of muscle toning and weight loss. For such a young age, he is very knowledgeable in fitness training. He demonstrates and explains clearly the exercise program, how it works and which muscle is being targeted. I was lucky to have him as my personal trainer and owe him a lot in getting back to my fitness. His workout program is very effective which resulted to the 5 kilos I lost in just 2 months. He always brings energy to the gym and makes everyone motivated. He made me understand how the muscle works, right techniques and most importantly embracing the lifestyle of fitness. Now I feel great, Strong and Confident!

        .grid-6
          .avatar.steve-f
          .text
            h5 Steve Farrell
            p Mitch has been awesome in assisting me with my weight loss and training regiment.   Mitch took the time to get to know me and what I want to achieve, and devised both an eating and training plan that fits me perfectly.   So far I've lost 10 kgs in 10 weeks, and already starting to get comments. Thanks Mitch!


    //- .location.animated.fadeIn
    //-   .container
    //-     h4 Location
    //-     .map
    //-       <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3317.649645645844!2d150.9542734152069!3d-33.743874680690986!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b12a200322c49ed%3A0xf017d68f9f15cc0!2sBella+Vista+Oval!5e0!3m2!1sen!2sau!4v1488055073073" width="499" height="255" frameborder="0" style="border:0" allowfullscreen></iframe>

    .footer
      .footer-wrapper
        .copyright
          p &#169; Active Habits 2017
        ul.social-links
         li <a href="https://www.facebook.com/activehabits/" class="facebook"></a>
         li <a href="https://www.instagram.com/activehabits_" class="instagram"></a>
         li <a href="tel:0411538188" class="contact-no">0411 538 188</a>
         li <a href="tel:0400668622" class="contact-no">0400 668 622</a>

      script(type='text/javascript').
        jQuery(function($){
        $( '.menu-btn' ).click(function(){
        $('.responsive-menu').toggleClass('expand')
        })
        })
